
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* To prevent long-press that will bring up copy-paste dialog. */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -ms-touch-callout: none;
  touch-callout: none;
  outline: 0; /* To prevent blue-box outline after click: http://stackoverflow.com/questions/21719306/getting-rid-of-a-blue-box-around-button-when-pressed */
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
textarea, input {
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: fixed!important;
}
body {
  font-family: sans-serif;
  background-color:#F0F8FF;
  z-index: 1;
}
.scoreOf {
  top:0%;
  height:5%
    position: top;
    width:500%;
}
.timer {
    height:10%
     height:10%
    display: inline-block;
    width:50%;
   
}
.wordBox {
    display: inline-block;
    position: top;
    width:100%;
    padding: 7px;
}
.topArea{
  
  transform: translate(50px, -30px);
    text-align: justify;

}
.showEndList{
 color: #ffffff;
}
.overlayModal {
  background: rgba(0,0,0,1);
  z-index: 1000;
  position: absolute;
  left: 0px;
  top: 0%;
  width:100%;
  height:200%;

}
.oneOpacity {
  visibility:visible;
  opacity:1;
  transition-delay:0s;
}


#gameArea{
  margin: 0;
  padding: 0;
  top: 1%;
}

#boardArea {
  position:absolute;
  top: 15%;
  left: 0;
  width: 80%;
  height: 80%;
  border-radius: 3%;
}



button {
position: absolute;
background-color:rgba(0,0,0,0);
background-repeat: no-repeat;
margin-right: 0%;
top: 0%;
left: 0%;
right:0%;
z-index:71;
background-color: rgba(0,0,0,0);
-webkit-transform:scale(.8);
-moz-transform:scale(.8);
-ms-transform:scale(.8);
-o-transform:scale(.8);
transform:scale(.7);
border-style: none;
background-size: 90% 90%;
background-position: center;
}

/*

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 732px)
  and (-webkit-min-device-pixel-ratio: 2) {


button {
position: absolute;
background-color:rgba(0,0,0,0);
background-repeat: no-repeat;
margin-right: 0%;
top: 0%;
left: -5%;
right:0%;
z-index:71;
background-color: rgba(0,0,0,0);
-webkit-transform:scale(.8);
-moz-transform:scale(.8);
-ms-transform:scale(.8);
-o-transform:scale(.8);
transform:scale(.7);
border-style: none;
background-size: 90% 90%;
background-position: center;
}
#boardArea {
display: inline-block;
position: center;
width:80%;
top: 10%;
left: 0%;
right:0%;
left: 0;
background-color:rgba(0,0,0,0);
z-index:31;
border-radius: 3%;
-webkit-transform:scale(.8);
-moz-transform:scale(.8);
-ms-transform:scale(.8);
-o-transform:scale(.8);
transform:scale(.9);
}


}
textarea{
border-style: solid;
border-width: medium;
overflow-y: scroll;
}

h3 {
   color: #000000;
}

h2 {
  position: absolute;
  display: inline-block;
  z-index: 50;
  align-content: top;
  width: 100%;
}

}
*/



