

body {

    height:auto;
    width:auto;
  font-family: sans-serif;
  background-color:rgba(0,0,0,0);;
  z-index: 1;

}

h3 {
  text-align: center;
  font-size: 1.65em;
  margin: 0 0 30px;
}

div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* or space-around */
}

button {
 border: 1px solid transparent;
background-repeat: no-repeat;
margin-right: 0%;
top: 0%;
left: 0%;
right:0%;
 background-color: rgba(0,0,0,0);
}

.grow {
  -webkit-transition:all 0.5s ease-out;
  -moz-transition:all 0.5s ease-out;
  -ms-transition:all 0.5s ease-out;
  -o-transition:all 0.5s ease-out;
  transition:all 0.5s ease-out;
}

.grow:hover {
  -webkit-transform:scale(1.3);
  -moz-transform:scale(1.3);
  -ms-transform:scale(1.3);
  -o-transform:scale(1.3);
  transform:scale(1.3);
}

@media screen and (min-width: 50em) {
  a {
    width: calc(25% - 6px);
  }
}
@media screen and (max-width:500px){
#myDiv {font-size: 15px}
#myDiv main section {background-size: 45px 71px; padding-top: 80px; }
form div input {
width: 100%;height:200px;margin-bottom: 5px
}
}

a:hover img {
  transform: scale(1.15);
}

figure {
  margin: 0;
  overflow: hidden;
}


img {
  border: none;
  max-width: 100%;
  height: auto;
  display: block;
 background-color: #fff;
  transition: transform .2s ease-in-out;
}

.p a {
  display: inline;
  font-size: 13px;
  margin: 0;
  text-decoration: underline;
  color: blue;
}

.p {
  text-align: center;
  font-size: 13px;
  padding-top: 100px;
}
#myDiv form > div {
    background-color: #000;
    margin: 0; padding: 10px 0px;
}

#myDiv form br { display:none}
form  {
    background-color: #efc20f;
    width: 100%;
    float: left;
    height:200px;
    text-align: center;
    padding: 10px 0 5px 0;
}

<<<<<<< HEAD


#boardArea {

  top:0;
  left:0;
  width:100%;
  height: 100%;
  background-color:#fff;
  z-index:1;
  border-radius: 3%;
=======
form div textarea {
width: 85%;
 font-size:24px;
margin-bottom: 15px;
display: block;
  float: left;
>>>>>>> origin/gh-pages
}
