<!DOCTYPE HTML>
<html ng-app="boggle">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="css/bog_style.css">
		<script type="text/javascript" src="lib/angular.min.js"></script>
		<script type="text/javascript" src="lib/boggle.js"></script>
		<title>example state</title>
	</head>


<div ng-controller="AppController">
  <a>
    <figure>
      <img src="http://annmalavet.com/Boggle/button0.png" alt="">

    </figure>
  </a>
 <a>
    <figure>
      <img src="http://annmalavet.com/Boggle/button0.png" alt="">
     
      <figcaption>  <h6 ng-model="cur_hours" value="{{cur_hours}}"> </h6></figcaption>
    </figure>
  </a>
  <a>
    <figure>
      <img src="http://annmalavet.com/Boggle/button0.png" alt="">

    </figure>
  </a>
  <a >
    <figure>
      <img src="http://annmalavet.com/Boggle/button0.png" alt="">

    </figure>
  </a>
 <a>
    <figure>
      <img src="http://annmalavet.com/Boggle/button0.png" alt="">

    </figure>
  </a>
  <a>
    <figure>
  <img src="http://annmalavet.com/Boggle/button0.png" alt="">

    </figure>
  </a>
  <a>
    <figure>
       <img src="http://annmalavet.com/Boggle/button0.png" alt="">

    </figure>
  </a>
  <a>
    <figure>
       <img src="http://annmalavet.com/Boggle/button0.png" alt="">

    </figure>
  </a>
  <a>
    <figure>
        <img src="http://annmalavet.com/Boggle/button0.png" alt="">

    </figure>
  </a>
  <a>
    <figure>
        <img src="http://annmalavet.com/Boggle/button0.png" alt="">

    </figure>
  </a>
    <a>
    <figure>
      <img src="http://annmalavet.com/Boggle/button0.png" alt="">

    </figure>
  </a>
   <a>
    <figure>
       <img src="http://annmalavet.com/Boggle/button0.png" alt="">

    </figure>
  </a>
</div>

<form>

		<div>
		
			<input type="text" ng-model="alphabet" value="{{alphabet}}"> </input>
		
	</form>
</div>



   