<!DOCTYPE html>
<!-- build:[manifest] index.min.appcache -->
<html lang="en" ng-app="myApp">
<!-- /build -->

<head>
  <meta http-equiv="Content-Type" content="text/html, charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Boggle Game</title>
  <meta name="description" content="Boggle game">
  <link rel="shortcut icon" type="image/x-icon" href="data:image/x-icon;,">
  <!-- Suppress browser request for favicon.ico -->

  <!-- To ensure CSS files are downloaded in parallel, always include external CSS before external JavaScript. -->
  <!-- build:[href] css/everything.min.css -->
  <link rel="stylesheet" type="text/css" href="css/bog_style.css">
  <!-- /build -->

  <!-- build:js js/everything.min.js 
  <script type="text/javascript" src="lib/boggle.js"></script>
  -->

  <script src="lib/angular.js"></script>
  <script src="lib/turnBasedServices.4.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/gameLogic.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/game.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/aiService.js"></script>
  <!-- /build -->

</head>

<body ng-cloak >

  <div id="gameArea">
      <div>
  <h2>Time remaining: {{game.countDownLeft}}</h2>
  </div>
          <div id="inputArea">
        <form>
          <textarea name="text" rows="14" cols="100" wrap="soft"> {{game.addText()}}</textarea>
        </form>
   </div>
      <div id="boardArea" >
                <div ng-repeat="row in game.getIntegersTill(game.dim)" style="position:absolute; top:{{row * 110 / game.dim}}%; left:0; width:110%; height:100%;">
                    <div ng-repeat="col in game.getIntegersTill(game.dim)" style="position:absolute; top:50; left:{{col * 110 / game.dim}}%; width:110%; height:100%;"
                        id="{{'board' + row + 'x' + col}}" 
                   >
                        <button id="clickToDragPiece"
                        style="z-index: 30; width: 20%; height: 20%; "
                           ng-style="{ 'background-image': 'url(' + game.onClick(row, col) + ')' }"
                         ng-click="game.listOf(row, col)"
                           >
                    </div>
                </div>
      </div>

   </div>
</body>

</html>