<!DOCTYPE html>
<!-- build:[manifest] index.min.appcache -->
<html lang="en">
<!-- /build -->

<head>
  <meta http-equiv="Content-Type" content="text/html, charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Boggle-ish Game</title>
  <meta name="description" content="Boggle game">
<link rel="shortcut icon" href="alphabet/favicon.ico" type="image/x-icon">
<link rel="icon" href="alphabet/favicon.ico" type="image/x-icon">
  <!-- To ensure CSS files are downloaded in parallel, always include external CSS before external JavaScript. -->
  <!-- build:[href] css/everything.min.css -->
  <link rel="stylesheet" type="text/css" href="css/bog_style.css">
  <link rel="stylesheet" type="text/css" href="css/csshake-slow.css">
  <link type="text/css" href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">
  <!-- /build -->

  <!-- build:js js/everything.min.js 
  <script type="text/javascript" src="lib/boggle.js"></script>
  -->

  <script src="lib/angular.js"></script>
  <script src="lib/boggle.js"></script>
  <script src="lib/gameTrie.js"></script>
  <script data-main="lib/boggle" src="lib/require.js"></script>
  <script src="lib/turnBasedServices.4.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/gameLogic.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/game.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/aiService.js"></script>
  <!-- /build -->

</head>

<body ng-cloak ng-app="myApp" ontouchstart>
  <div class="overlayModal oneOpacity" ng-if="game.isModalShown" ng-class="{zeroOpacity: !game.isModalShown, oneOpacity: game.isModalShown}"
    aria-hidden="true" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <h3> {{game.modalTitle}}</h3>
        </h4>
      </div>
      <div class="listOf" class="showEndList">
        This the list of words you created: {{game.showWords()}}
        <p>
        This is the list of words your opponent created: {{game.showWordsOpponents()}} 
      </div>
    </div>
  </div>

  <!-- ng-if="game.isTimerRunning()"-->
  <div id="gameArea" class="gameArea">
    <div class="topArea">
      <table>
      <tr>
        <td><h3 class="timer">Time left: {{game.countDownLeft}}</h3></td>
          <td rowspan="2"><img class="right"  ></td>
          </tr>
      <tr><td><h3 class="scoreOf" id="score">Score: {{game.score()}}</h3></td></tr>
</table>
  <h3 class="wordBox" id="inputarea" colspan="2"> Current guess: {{game.showGuess()}}</h3>
    </div>

    <div id="boardArea">
      <div ng-repeat="row in game.getIntegersTill(game.dim)" style="position:absolute; top:{{row *100/ game.dim}}%; left:0; width:100%; height:100%;">
        <div ng-repeat="col in game.getIntegersTill(game.dim)" style="position:absolute; top:50; left:{{col * 100 / game.dim}}%; width:100%; height:100%;">
          <div id="{{'img_container_' + row + '_' + col}}" class="img_container" ng-class="game.cachedPieceContainerClass[row][col]">
            <button class="shake-slow" id="{{ + row + '_' + col}}" class="button" style="z-index: 30; width: 25%; height: 25%; " ng-class="game.cachedPieceSrc[row][col]"
              ng-style="{ 'background-image': 'url(' + game.getBgImg(row, col) + ')'}" ng-click="game.listOf(row, col)"></button>
          </div>

        </div>
      </div>
    </div>
    <div id="wordList">Words created: {{game.showCurWords()}}</div>
  </div>

</body>

</html>