<!DOCTYPE html>
<!-- build:[manifest] index.min.appcache -->
<html lang="en" ng-app="myApp">
<!-- /build -->

<head>
  <meta http-equiv="Content-Type" content="text/html, charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Boggle Game</title>
  <meta name="description" content="Boggle game">
  <link rel="shortcut icon" type="image/x-icon" href="data:image/x-icon;,">
  <!-- Suppress browser request for favicon.ico -->

  <!-- To ensure CSS files are downloaded in parallel, always include external CSS before external JavaScript. -->
  <!-- build:[href] css/everything.min.css -->
  <link rel="stylesheet" type="text/css" href="css/bog_style.css">
  <!-- /build -->

  <!-- build:js js/everything.min.js 
  <script type="text/javascript" src="lib/boggle.js"></script>
  -->

  <script src="lib/angular.js"></script>
  <script src="lib/turnBasedServices.4.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/gameLogic.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/game.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/aiService.js"></script>
  <!-- /build -->

</head>

<body ng-cloak ng-app="myApp" style="position:absolute; top:0; left:0; width:100%; height:100%;">

  <div id="gameArea" id="clickToDragPiece">
    <div id="inputArea">
        <textarea name="text" rows="14" cols="100" wrap="soft"> {{game.addText()}}</textarea>
    </div>
    <div>
    <h2>Time remaining: {{game.countDownLeft}}</h2>
</div>
    <div id="boardArea" 00000>0
      <div ng-repeat="row in game.getIntegersTill(game.dim)" style="position:absolute; top:{{row * 110 / game.dim}}%; left:0; width:100%; height:100%;">
        <div ng-repeat="col in game.getIntegersTill(game.dim)" style="position:absolute; top:50; left:{{col * 110 / game.dim}}%; width:100%; height:100%;">
          <button class="grow" id="clickToDragPiece" style="z-index: 30; width: 25%; height: 25%; " ng-style="{ 'background-image': 'url(' + game.onClick(row, col) + ')' }"
            ng-click="game.listOf(row, col)"></button>
        </div>
      </div>
    </div>
  </div>

  </div>
</body>

</html>